
  /* .mysearch{
    width: 330px;
    height: 40px;
    border: 1px solid;
    border-radius: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-color:  rgb(221,221,221) ;
     box-shadow: 0px 2px rgb(221,221,221,0.7) ;
  } */
  .anywhere{
    width: 100px;
    height: 25px;
    background: 0;
    border: 0px;
    border-right:1px solid;
    border-color: rgb(221,221,221) ;
  
  }
  
  .anyweek{
    height: 25px;
    width: 100px;
    background: 0;
    border: 0px;
    border-right:1px solid;
    border-color: rgb(221,221,221) ;
  
  }
  .addguest{
    height: 25px;
    width: 110px;
    background: 0;
    border: 0px;
  }

  .search {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-evenly;
    background: white;
  /*   height: 50px; */
    border-radius: 50px;
    overflow: hidden;
    padding: 0 2rem;
  }
  
  .search .label {
    display: block;
    font-size: 0.75rem;
    color: #111111;
    font-weight: bold;
  }
  
  .search-inputs {
  /*   flex: 1 0 auto; */
    padding: 16px 24px;
  }
  
  .search-inputs:nth-child(1) {
    flex: 1.5 0 0%;
  }
  
  .search-inputs:nth-child(2),
  .search-inputs:nth-child(3){
    flex: 1 0 0%;
  }
  
  .search-inputs:nth-child(4){
    flex: 0.85 0 0%;
  }
  
  .search-inputs input {
    border: none;
    display: block;
  }
  
  .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-button button {
    font-size: 16px;
    padding:1rem;
    border-radius: 30px;
    border: none;
    background: red;
    color: white;
  }
  
  .cta {
    flex:1.5 0 0%;
  }