<<<<<<< HEAD

  /* .mysearch{
    width: 330px;
    height: 40px;
    border: 1px solid;
    border-radius: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-color:  rgb(221,221,221) ;
     box-shadow: 0px 2px rgb(221,221,221,0.7) ;
  } */
  .anywhere{
    width: 100px;
    height: 25px;
    background: 0;
    border: 0px;
    border-right:1px solid;
    border-color: rgb(221,221,221) ;
  
  }
  
  .anyweek{
    height: 25px;
    width: 100px;
    background: 0;
    border: 0px;
    border-right:1px solid;
    border-color: rgb(221,221,221) ;
  
  }
  .addguest{
    height: 25px;
    width: 110px;
    background: 0;
    border: 0px;
  }

=======
*, body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
  }
  
  header {
    width: 100%;    
      padding: 2.8em 2.8em 0 2.8em;
      /* background-color: antiquewhite; */
  
  }
  
  .top-navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white;
  /*   z-index: 10; */
  }
  
 
  
  
  .logo {
    font-weight: bold;
    letter-spacing: 0.6px;
  }
  
  .logo a {
    text-decoration: none;
    color: white;
    flex: 1 0 0%;
  }
  
  nav {
    display: flex;
    flex-direction: column;
  /*   flex: 1.5 0 0%; */
    min-width: 50%;
  }
  
  .nav-menu {
    margin-bottom: 24px;
  }
  .nav-menu ul {
    display: flex;
    justify-content: center;
  }
  
  .nav-menu ul li {
    margin: 0 8px;
  }
  
  .nav-menu ul li a{
    text-decoration: none;
    color: white;
  }
  
  .nav-menu ul li a:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  
  /* Search form */
>>>>>>> e9ec9f5e52c1762c6a68dce018dae795d2410d82
  .search {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-evenly;
<<<<<<< HEAD
    background: white;
  /*   height: 50px; */
    border-radius: 50px;
    overflow: hidden;
    padding: 0 2rem;
=======
    background: white;  
  /*   height: 50px; */
    border-radius:6rem;
    overflow: hidden;
    /* box-shadow:  rgba(172, 137, 137 ) 10px 5px 10px; */

>>>>>>> e9ec9f5e52c1762c6a68dce018dae795d2410d82
  }
  
  .search .label {
    display: block;
    font-size: 0.75rem;
    color: #111111;
    font-weight: bold;
  }
  
  .search-inputs {
  /*   flex: 1 0 auto; */
    padding: 16px 24px;
<<<<<<< HEAD
=======
        outline: none;
        border: none;
        accent-color: gray;
>>>>>>> e9ec9f5e52c1762c6a68dce018dae795d2410d82
  }
  
  .search-inputs:nth-child(1) {
    flex: 1.5 0 0%;
<<<<<<< HEAD
=======
    outline: none;
    border: none;
>>>>>>> e9ec9f5e52c1762c6a68dce018dae795d2410d82
  }
  
  .search-inputs:nth-child(2),
  .search-inputs:nth-child(3){
<<<<<<< HEAD
=======
    outline: none;
    border: none;
>>>>>>> e9ec9f5e52c1762c6a68dce018dae795d2410d82
    flex: 1 0 0%;
  }
  
  .search-inputs:nth-child(4){
    flex: 0.85 0 0%;
<<<<<<< HEAD
=======
    outline: none;
    border: none;
>>>>>>> e9ec9f5e52c1762c6a68dce018dae795d2410d82
  }
  
  .search-inputs input {
    border: none;
    display: block;
  }
  
  .search-button {
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    align-items: center;
=======
    flex: 0 0 auto;
    padding: 8px 8px 8px 0;
>>>>>>> e9ec9f5e52c1762c6a68dce018dae795d2410d82
  }
  
  .search-button button {
    font-size: 16px;
<<<<<<< HEAD
    padding:1rem;
=======
    width: 48px;  
    height: 48px;
>>>>>>> e9ec9f5e52c1762c6a68dce018dae795d2410d82
    border-radius: 30px;
    border: none;
    background: red;
    color: white;
  }
  
  .cta {
    flex:1.5 0 0%;
  }